/* hide Nitro, Shop and Quest Buttons in DMs */
  .privateChannels_e6b769 ul.content_d125d2 > :nth-child(+n+3):nth-child(-n+5) {
  display: none;
}


/* hide user nameplates */
.container_df39b2 {
  display: none;
}
/* and revert padding */
.childContainer__91a9d.nameplated__91a9d {
  padding-inline-end: revert-rule;
  position: revert-rule;
}


/* hide profile frame container */
.profileFrameContainer__7d80f {
  display: none;
}


/* hide profile effects */
.profileEffects__0dd08 {
  display: none;
}


/* hide quest cards */
.questCardContextMenuTrigger__7e549 {
  display: none;
}
